@media screen and (max-width: 576px) {
  nav,
  .banner-section,
  .download-section {
    flex-direction: column;
  }
  .banner-section {
    display: flex;
    
    width: 100%;
}
 .goat-img img{
  width: 100%;
}
.goat {
  
  padding-left: 40px;
}
  .gamer,
  .menu-items {
    justify-content: center;
  }
  .gamer-left {
    height: auto;
  }
  .menu {
    flex-direction: column;
  }
  .menu-item {
    margin: auto;
  }
  .btn-pink {
    padding: 1rem 2rem;
  }
  .btn-blue {
    padding: 1rem 2rem;
  }
  .banner-section .goat {
    order: 1;
  }

  /* ----card section----- */
  .card-container {
    flex-direction: column;
  }
  .icon-container {
    grid-template-columns: repeat(3, 1fr);
  }
  /* footer */
  .footer-section {
    justify-content: center;
    width: 1005;
  }
  .footer-item {
    flex-wrap: wrap;
  }
  .
}
