* {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
/* =========header============= */
/* --------share item-------- */

/* --------share item-------- */
nav {
  display: flex;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.gamer {
  display: flex;
}
.gamer-h2 h2 {
  color: #0b0223;

  font-size: 45px;

  font-weight: 700;
}
.gamer-h2 h2 .g {
  color: #ff42a5;
}

.gamer-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamer-left {
  height: 8rem;
}

.menu {
  display: flex;
  padding-top: 1.8rem;

  gap: 50px;
}
.menu-item {
  display: flex;
}

.menu .menu-item a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;

  font-size: 1.1rem;

  font-weight: 500;
}
.menu-item {
  padding-top: 1rem;
}
.menu-items a {
  text-decoration: none;
}
.menu-items {
  display: flex;
  text-decoration: none;
  color: #3c354f;
  gap: 10px;
  padding: 1rem 2rem;
  font-size: 1rem 2rem;
  font-weight: 500;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.menu-utube {
  color: red;
}

/* =============header============ */
/* ==========banner section start========== */
.banner-section {
  display: flex;
  /* justify-content: space-around; */

  width: 100%;
}
.goat {
  background-image: url(./images/Group\ 14.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  align-items: center;
  width: 100%;
  padding-left: 130px;
}
.goat > h2 {
  color: #0b0223;

  font-size: 3rem;

  font-weight: 600;
}
.linear {
  font-size: 6rem;

  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat-p {
  color: #534c64;

  font-size: 20px;

  font-weight: 500;
}
.btn-pink {
  display: inline-flex;
  padding: 1.3rem 2.3rem;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  color: #fff;
  font-size: 1.2rem;

  font-weight: 600;
  border: none;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-blue {
  color: #fff;

  font-size: 1.2rem;

  padding: 1.3rem 2.3rem;
  border: none;
  gap: 10px;
  font-weight: 600;
  border-radius: 48px;
  background: #4ec5f7;
}
.goat-img {
  width: 100%;
}
/* ==========banner section end============== */
/*  =========online game section start========== */
.online-game {
  text-align: center;
  padding: 100px 130px;
}
.online-game-h2 {
  color: #0b0223;

  font-size: 3rem;

  font-weight: 700;
}
.linear-2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;

  font-weight: 700;
}
.online-game-p {
  color: #534c64;

  font-size: 1.1rem;

  font-weight: 400;
}
.card-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.card {
  width: 100%;
}
.card-img {
  width: 100%;
}
.card-description {
  color: #534c64;

  font-size: 1.2rem;

  font-weight: 500;
}
/* ==========online game section end============== */
/* ======= download section start======= */
.download-section {
  display: flex;
  align-items: center;

  width: 100%;
  gap: 2rem;
  padding: 50px 130px;
}
.download-description {
  width: 100%;
}
.download-description h2 {
  text-align: right;

  font-size: 3rem;

  font-weight: 700;
}
.download-description h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.download-description p {
  color: #534c64;
  text-align: center;
  font-size: 18px;

  font-weight: 400;
}
.download-img {
  position: relative;
  width: 100%;
}
.download-img img {
  width: 100%;
  padding-left: 70px;
}
.talking-angels {
  width: 50%;
  position: absolute;
  margin-bottom: 200px;
  bottom: -18rem;
  left: -6rem;
}
/* =========icons section============ */
.icon-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 100px 130px;
  gap: 15px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  transition: 1s;
}
.icons {
  display: flex;
  flex-direction: row;
  border: 2px solid #fff;
  border-radius: 50px;
  gap: 10px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;

  font-weight: 600;
}
.icons:hover {
  border-radius: 50px;
  border: 1px solid #ff42a5;
}
/* =========icon section end=========== */
.footer-section {
  background: #0b0223;
}
.footer-section .gamer {
  justify-content: center;
}
.footer-item {
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: rgba(255, 255, 255, 0.6);

  font-size: 1rem;
  font-weight: 500;
}
.footer-item h5 {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.gamer .gamer-h2 .h2 {
  color: #fff;
}
